:root {
    --nav-height: 60px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, verdana, sans-serif;
    --primary-color: #021a72;
    --color-body: #f3f3f3;
    --color-text: #383636;
    --btn-cta-shadow: rgba(0,0,0,0.1);
}

html[data-theme="dark"] {
    --primary-color: #2c2c2c;
    --color-body: #494242;
    --color-text: #f3f3f3;
    --btn-cta-shadow: rgba(255,255,255,0.1);
}


html[data-theme="dark"] * {
transition: all 5s ease;
}


body {
    margin: 0;
    background-color: var(--color-body);
    line-height: 2;
}

a {
    text-decoration: none;
}

p, h1 {
    color: var(--color-text);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Clamp(min, prefered, max) */

.wrapper {
    width: clamp(320px, 95%, 1200px);
    margin: 0 auto;
}

.btn {
    padding: 0.5rem 1rem;
    outline: none;
}
/* Navbar */

header {
    height: 60px;
    background-color: var(--primary-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #f3f3f3;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav {
    display: flex;
}


.navbar {
    display: flex;
}

.navbar__link {
    color: #f3f3f3;
    padding: 1rem;
}
/* switch */

.theme-checkbox {
    display: none;
}

.switch {
    display: flex;
    align-items: center;
    position: relative;
    width: 55px;
    height: 30px;
    background-color:#f3f3f3;
    border-radius: 3rem;
}

.switch::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 100%;
    transform: scale(1.3);
    transition: left 0.3s ease-in;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
    0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    background: #fff url("../images/sun.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;

}

.theme-checkbox:checked + .switch::before{
    left: 25px;
    background: #fff url("../images/moon.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.hero .hero__intro {
    flex: 1;
    animation: animateLeft 0.3s ease;
}

.hero .hero__intro h1 {
    font-size: 4.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.hero .hero__intro .btn-cta {
    padding: 0.4rem 5rem;
    font-size: 20px;        
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-transform: uppercase;
    

}

.btncover {
    width: 100%;
  
}

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;

}

.btn-cta {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: #f3f3f3;
}

.btn-cta:hover {
    box-shadow: 0 0 0 6px var(--btn-cta-shadow);
}

.btn-cta:active{
    transform: scale(0.98);
}


.hero .hero__photo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    animation: animateRight 1s ease;
}

@keyframes animateLeft {
    from {
        opacity: 0.2;
        transform: translateX(-150px);
    }
    to {
         opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animateRight {
    from {
        opacity: 0.2;
        transform: translateX(150px);
    }
    to {
         opacity: 1;
        transform: translateX(0);
    }
}

.hero .hero__photo img {
    height: 70vh;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}




/*******************

    Global Styles

********************/
h1 {
    font-weight: 500;
    color: #343434;
    margin: 0.5rem 0;
    line-height: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    margin-bottom: 1.5rem;
}

.justify-between {
    justify-content: space-between;
}

input[type='checkbox'] {
    margin-right: 1rem;
    transform: scale(1.5);
}

/*******************
    Colors
********************/

.gray {
    color: rgba(124, 124, 124);
}

.fa-twitter {
    color: #4fa5df;
}

.fa-google {
    color: #dd4b39;
}
/*******************
    Buttons
********************/
.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.btn-tab {
    width: 50%;
    padding: 1rem;
    font-size: 1.25rem;
}

.btn-tab.active {
   border-top: 3px solid var(--primary-color);
   background-color: #fff;
}

.btn-oauth {
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    color: rgba(92, 92, 92);
    background-color: #fff;
  /*  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
}

.btn-register {
    width: 100%;
    height: var(--input-height);
    background-color: var(--primary-color);
    color: #f3f3f3;
    font-size: 1.5rem;
}

btn-register:hover {
    background-color: var(--primary-color-hover);
}
/*******************

    Registration form

********************/
.registration-form {
    width: 70vw;
    margin: 100px auto;
    border: 1px solid #ccc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
    font-size: 1.25rem;
    background: #fff;
}
 .registration-form .header{
    display: flex;
}
 .registration-form .body{
    padding: 2rem;
}

.content {
    display: none;
}


.content.active {
    display: block;
}

.bar {
    position: relative;
    margin: 2.5rem 0;
    border-top: 1px solid #ccc;
}

.bar::before {
    content: "or";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1rem;
    background-color: #fff;
}


/*******************
    Input Elements

********************/
.input-group {
    position: relative;
    margin: 1rem 0;
    height: var(--input-height);
    padding: 1.4rem;

}

.input-group .input-elem{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;  
    padding: 0 1.5rem;
    font-size: 1.25rem;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    padding: 0 0.5rem;
    transition: all 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.input-group .input-elem:focus {
   border: 2px solid var(--primary-color);
}

.input-group .input-elem:not(:placeholder-shown) + label {
    top: 0;
    background-color: #fff;
    color: rgb(90, 90, 90);
    padding: 5px;
    margin: 0;
    line-height: 0.5;
}

.input-group .input-elem:focus + label {

    top: 0;
    background-color: #fff;
    color: var(--primary-color);
}
.eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    right: 1rem;
    color: #888;
    cursor: pointer;
}

.eye:hover {
    color: var(--primary-color);
}

.agreements {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}


.reg_link {
    display: inline-block;
    color: var(--primary-color);
    margin: 1.5rem 0 0.5rem;
}




/*******************

    Ripple Effect


********************/

.btn-ripple {
    position: relative;
    overflow: hidden;
}

.ripple {
    position:absolute;
    background-color: rgba(0 , 0, 0, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rippleAnimate 0.4s ease-out;
}

@keyframes rippleAnimate {
    from{
        width: 0px;
        height: 0px;
    }
    to {
         width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/*******************

Responsive Design

********************/

@media screen and (max-width: 768px) {

    h1 {
    line-height: 0px;
}
    .registration-form {
        width: 340px;
        font-size: 1rem;
        --input-height: 30px;
    }

    .btn-register {
    
    font-size: 1rem;
    border-radius: 0px;
}

    .flex {
        flex-direction: column;
    }

    .btn {
    padding: 0.25rem 1rem;
    }

    .btn-oauth {
        margin-bottom: 0.5rem;
        padding: 0.25rem 1.5rem;
        font-size: 1rem;
        border-radius: 0px;
    }

  
    

    .btn-tab {
        padding: 1rem;
    }

    .input-group .input-elem{
    font-size: 1rem;
    border-radius: 0px;
    }
        
}


.copyright {
    
    background: var( --primary-color);
    text-align: center;
    padding: 10px;
  
}


.copyright p {
    margin: 0;
    font-size: 16px;
    color: #fff;
}
/*          

                    RESPONSIVE          
                    
                                                */



@media screen and (max-width: 768px) {
    .header-wrapper {
        padding: 0 1rem;
    }

  
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        
    }

    .hero .hero__photo {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .hero .hero__intro {
        padding: 1rem 2rem;
    }

    .hero .hero__intro h1 {
        font-size: 3rem;
    }

   .hero .hero__photo img {
    height: 40vh;
    margin-top: 70px;
}
    .logo {
    font-size: 1rem;
    font-weight: 500;
    color: #f3f3f3;
}

.hero .hero__intro h1 {
    font-size: 2rem;
}

body {
    line-height: 1.5;
}

.hero .hero__intro h1 {
    font-weight: 600;
    margin: 0.1rem 0;
}

.hero .hero__intro .btn-cta {
    padding: 1rem;
    font-size: 1rem;
}

.hero .hero__intro .btn-cta {
    padding: 1rem;
    font-size: 1rem;
    width: 40vw;
}

}



@media screen and (max-width: 320px) {

    :root {
    --nav-height: 40px;
}


    .btn {
    padding: 3px;
    width: 46vw;
}

.hero__intro iframe {
    width: 95vw;
    height: 40vh;
    }

    .hero {
    height: calc(160vh - 60px);
    }

    .hero .hero__intro h1 {
    line-height: 1;
}

}


@media screen and (max-width: 375px) {

    :root {
    --nav-height: 40px;
    }


    .btn {
    padding: 3px;
    width: 46vw;
    }

    .hero__intro iframe {

    width: 95vw;
    height: 25vh;
    }   

   .hero {
    height: calc(100vh - 60px);
    }

    .hero .hero__intro h1 {
    line-height: 1;
    }

        .hero .hero__photo {
    margin-top: 20px;
    }

}