@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --primary-color: #021a72;
    --primary-color-hover:#4fa5df;
    --input-height: 45px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body
{
   /* font-family: "Lato";
    display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    margin: 0;
	padding: 0;
	background-color: #E2EDF9;
    background-image: url("../img/body-bg.png");
    background-repeat: repeat-x;


}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}


html {
  font-family: "Trebuchet MS", sans-serif;
}

.container {
    max-width:  1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header {
    background: #021a72;
}

.header .row {
    margin-top: 70px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu_icon {
    width: 40px;
    margin-left: 20px;
}


nav {
    flex: 1;
    text-align: right;
    display: none;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    letter-spacing: 2px;
    color: #ff0037;
    font-size: 16px;
}
.navbar .fa {
    color: #000;
    font-weight: 700;
    margin: 10px;
    font-size: 25px;
}



/*******************

    Global Styles

********************/
h1 {
    font-weight: 500;
    color: #343434;
    margin: 0.5rem 0;
    line-height: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    margin-bottom: 1.5rem;
}

.justify-between {
    justify-content: space-between;
}

input[type='checkbox'] {
    margin-right: 1rem;
    transform: scale(1.5);
}

/*******************
    Colors
********************/

.gray {
    color: rgba(124, 124, 124);
}

.fa-twitter {
    color: #4fa5df;
}

.fa-google {
    color: #dd4b39;
}
/*******************
    Buttons
********************/
.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.btn-tab {
    width: 50%;
    padding: 1rem;
    font-size: 1.25rem;
}

.btn-tab.active {
   border-top: 3px solid var(--primary-color);
   background-color: #fff;
}

.btn-oauth {
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    color: rgba(92, 92, 92);
    background-color: #fff;
  /*  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
}

.btn-register {
    width: 100%;
    height: var(--input-height);
    background-color: var(--primary-color);
    color: #f3f3f3;
    font-size: 1.5rem;
}

btn-register:hover {
    background-color: var(--primary-color-hover);
}
/*******************

    Registration form

********************/
.registration-form {
    width: 70vw;
    margin: 100px auto;
    border: 1px solid #ccc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
    font-size: 1.25rem;
    background: #fff;
}
 .registration-form .header{
    display: flex;
}
 .registration-form .body{
    padding: 2rem;
}

.content {
    display: none;
}


.content.active {
    display: block;
}

.bar {
    position: relative;
    margin: 2.5rem 0;
    border-top: 1px solid #ccc;
}

.bar::before {
    content: "or";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1rem;
    background-color: #fff;
}


/*******************
    Input Elements

********************/
.input-group {
    position: relative;
    margin: 1rem 0;
    height: var(--input-height);

}

.input-group .input-elem{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;  
    padding: 0 1.5rem;
    font-size: 1.25rem;
    outline: none;
    margin: 12px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    padding: 0 0.5rem;
    transition: all 0.3s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.input-group .input-elem:focus {
   border: 2px solid var(--primary-color);
}

.input-group .input-elem:not(:placeholder-shown) + label {
    top: 0;
    background-color: #fff;
    color: rgb(90, 90, 90);
    padding: 5px;
    margin: 0;
    line-height: 0.5;
}


.input-group .input-elem:focus + label {

    top: 0;
    background-color: #fff;
    color: var(--primary-color);
}
.eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    right: 1rem;
    color: #888;
    cursor: pointer;
}

.eye:hover {
    color: var(--primary-color);
}

.agreements {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}


.reg_link {
    display: inline-block;
    color: var(--primary-color);
    margin: 1.5rem 0 0.5rem;
}




/*******************

    Ripple Effect


********************/

.btn-ripple {
    position: relative;
    overflow: hidden;
}

.ripple {
    position:absolute;
    background-color: rgba(0 , 0, 0, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rippleAnimate 0.4s ease-out;
}

@keyframes rippleAnimate {
    from{
        width: 0px;
        height: 0px;
    }
    to {
         width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/*******************

Responsive Design

********************/

@media screen and (max-width: 768px) {

    h1 {
    line-height: 0px;
}
    .registration-form {
        width: 340px;
        font-size: 1rem;
        --input-height: 30px;
    }

    .btn-register {
    
    font-size: 1rem;
    border-radius: 0px;
}

    .flex {
        flex-direction: column;
    }

    .btn {
    padding: 0.25rem 1rem;
    }

    .btn-oauth {
        margin-bottom: 0.5rem;
        padding: 0.25rem 1.5rem;
        font-size: 1rem;
        border-radius: 0px;
    }

  
    

    .btn-tab {
        padding: 1rem;
    }

    .input-group .input-elem{
    font-size: 1rem;
    border-radius: 0px;
    }
        
}


.copyright {
    color: #fff;
    background: var( --primary-color);
    text-align: center;
    padding: 10px;
  
}


.copyright p {
    margin: 0;
    font-size: 16px;
}

@media only screen and (min-width: 800px) {
    .menu_icon {
        display: none;
    }     
}


